<div class="contact-form">
    <span class="circle one"></span>
    <span class="circle two"></span>
    {{ form_start(form, {'attr': {'class': 'start-form', 'data-controller': 'form'}, 'autocomplete': 'off'}) }}
    <h3 class="title">Contact </h3>
    <div class="input-container">
        {{ form_widget(form.name, {'attr': {'class': 'input'}}) }}
        {{ form_label(form.name, 'Nom') }}
        <span>Username</span>
    </div>
    <div class="input-container">
        {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
        {{ form_label(form.email, 'Email') }}
        <span>Email</span>
    </div>
    <div class="input-container">
        {{ form_widget(form.number, {'attr': {'class': 'input'}}) }}
        {{ form_label(form.number, 'Phone') }}
        <span>Phone</span>
    </div>
    <div class="input-container textarea">
        {{ form_widget(form.message, {'attr': {'class': 'input'}}) }}
        {{ form_label(form.message, 'Message') }}
        <span>Message</span>
    </div>
    <input type="submit" value="ENVOYER" class="btn-form" />
    {{ form_end(form) }}
</div