{% extends 'base.html.twig' %}

{% block title %}
liste
{{ parent()}}
{% endblock %}


{% block body %}
<main class="list-home">
<div class="list-home-row">
<div class="list-home-row-circle">
<a href="{{ path('app.infos')}}">Qui suis-je</a>
</div>
<div class="list-home-row-circle">
<a href="{{path('app.technos')}}">Mes technos</a>
</div>
</div>
<div class="list-home-row">
<div class="list-home-row-circle">
<a href="{{path('app.experiences')}}">Expèriences</a>
</div>
<div class="list-home-row-circle">
<a href="{{path('app.contact')}}">Contact</a>
</div>
</div>
<a href="{{ path('app.index') }}" class="button">Retour</a>
</main>
{% endblock %}
